<div id="menu">
	<div class="menuItem"><a disabled>CONTACT</a><span class="shape" ng-show="menuCtrl.shapeContact"></span></div>
	<div class="menuItem"><a disabled>QUI SOMMES NOUS ?</a><span class="shape" ng-show="menuCtrl.shapeAbout"></span></div>
	<div class="menuItem"><a href="#/actu/0">ACTUALITÉS</a><span class="shape" ng-show="menuCtrl.shapeActu"></span></div>
	<div class="menuItem"><a href="#/home">ACCUEIL</a><span class="shape" ng-show="menuCtrl.shapeHome"></span></div>
	<div id="menuSeparator"></div>
	<div id="menuBar" />
</div>